html {
    background-color: rgb(225, 225, 225);
}

#portal-root{
    max-height: 20% !important;
}
#root{
    min-height: 20vh !important;
}
.footer {
    margin-top: 10vh;
    bottom: 0;
}

@media only screen and (max-width: 480px) {
    .footer {
        margin-top: 47vh;
    }
}

@media only screen and (max-width: 480px) and (min-height: 900px) {
    .footer {
        margin-top: 52vh;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1000px) {
    .footer {
        margin-top: 47vh;
    }
}

@media only screen and (min-width: 800px) and (min-height: 1000px) {
    .footer {
        margin-top: 63vh;
    }
}

@media only screen and (min-width: 1000px) {
    .footer {
        margin-top: 36vh;
    }
}

@media only screen and (min-width: 800px) and (min-height: 800px) {
    .footer {
        margin-top: 51vh;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.transition-transform {
    transition: transform 0.3s ease-out;
}

.focused-label {
    transform: translateY(-1.5rem) scale(0.8);
}


#landing-container {
    background-image:  url("../assets/cartographer\(1\).png");

}


@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 0.5s forwards;
}